<mat-toolbar>

    <mat-toolbar-row>
        <span>Estudios</span>
        <span class="space"></span>
        <span> <button mat-button [routerLink]="['/estudios', 0]">
                <i class="material-icons">library_add</i> Agregar
            </button></span>
    </mat-toolbar-row>

    <mat-toolbar-row class="center">
        <mat-form-field class="search">
            <input matInput placeholder="Buscar Estudios" type="search" [(ngModel)]="nombre"
                (keydown.enter)="buscar(nombre)">
        </mat-form-field>
        <button mat-icon-button (click)="buscar(nombre)">
            <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <button mat-icon-button (click)="refresh()">
            <fa-icon [icon]="faSync"></fa-icon>
        </button>
    </mat-toolbar-row>

</mat-toolbar>

<div class="container">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id" sticky>
            <th mat-header-cell *matHeaderCellDef class="w-75"> ID </th>
            <td mat-cell *matCellDef="let estudio; let i = index;">
                <button mat-flat-button [routerLink]="['/estudios', estudio.id]">
                    {{ i+1 }}
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="estudio">
            <th mat-header-cell *matHeaderCellDef> Estudio </th>
            <td mat-cell *matCellDef="let estudio">
                <button mat-flat-button [routerLink]="['/estudios', estudio.id]">
                    {{ estudio.nombre }}
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

</div>
<mat-paginator [length]="length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
    (page)="handlePage($event)">
</mat-paginator>
<div class='loading' *ngIf="load">
    <mat-spinner></mat-spinner>
</div>