.card {
  height: 175vh;
  margin-top: 1ex;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 9px 9px 9px 1px rgba(0, 0, 0, 0.3);
}

.container {
  position: absolute; //fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 220vh;
  background: url(../../../assets/Fondo.png) top center;
  background-size: cover;
}

.center {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0;
  margin-top: 10px;
}
a {
  color: #000;
}

mat-form-field {
  width: 100%;
}

.title {
  text-align: center;
}

.subtitle {
  margin-block-end: auto;
  //text-align: center;
}
//INICIO FILE
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: none;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  margin-bottom: 10px;
  background-color: #3f51b5;
}
//FIN FILE

.loading {
  animation: fade-in 0.5s ease-out;
  width: 100%;
  height: 250vh;
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  background: rgba(170, 162, 162, 0.7);
  overflow: hidden;
  z-index: 1;
  mat-spinner {
    margin: auto;
  }
}

.responsiveimagen {
  width: 10%;
  height: auto;
  display: block;
  margin: auto;
}

.div_imagen {
  margin-top: 40px;
}

.nolbutt {
  padding: 2px 74px;
  border-radius: 26px;
  min-height: 32px;
}

//Columns
.row::after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 45.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

//Pantallas
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-5 {
    width: 80%;
  }
  .container {
    height: 240vh;
  }

  .card {
    height: 190vh;
    margin-left: 5%;
    margin-right: 5%;
  }

  .responsiveimagen {
    width: 30%;
  }

  .div_imagen {
    margin-bottom: 0em;
  }
  .loading{
    height: 350vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-5 {
    width: 40%;
  }
  .container {
    height: 280vh;
  }

  .card {
    height: 220vh;
    margin-left: 5%;
    margin-right: 5%;
  }

  .responsiveimagen {
    width: 20%;
  }

  .div_imagen {
    margin-bottom: 0em;
  }
  .loading{
    height: 250vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    height: 200vh;
  }

  .card {
    height: 150vh;
    margin-left: 20%;
    margin-right: 20%;
  }
  .loading{
    height: 250vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    height: 250vh;
  }
  .card {
    margin-top: 3ex;
    height: 200vh;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    align-items: center;
  }

  .responsiveimagen {
    width: 15%;
  }

  .div_imagen {
    margin-bottom: 0em;
  }

  .loading{
    height: 250vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    height: 180vh;
  }
  .card {
    margin-top: 3ex;
    height: 120vh;
    margin-left: 30%;
    margin-right: 30%;
    display: grid;
    align-items: baseline;
  }

  .responsiveimagen {
    width: 15%;
  }

  .div_imagen {
    margin-bottom: 0em;
  }

  .loading{
    height: 180vh;
  }
}
