<div class="container">
    <mat-toolbar>

        <mat-toolbar-row>
            <span>{{mensajeBienvenida}}</span>
        </mat-toolbar-row>

        <mat-toolbar-row>
            <span>
                <a mat-flat-button (click)="ruta()" style="background: whitesmoke;">
                    <i class="material-icons">keyboard_backspace</i>
                </a>
            </span>
            <span>Datos Médico</span>
            <span class="space"></span>
            <span *ngIf="actRoute != '0'">
                <button mat-button (click)="eliminar()" *ngIf="rol == 'ROLE_ADMIN'">
                    <i class="material-icons">delete</i>
                    Eliminar
                </button>
            </span>
        </mat-toolbar-row>


    </mat-toolbar>

    <form class="form" novalidate [formGroup]="altaMedico">
        <div class="row">

            <mat-form-field class="col-7">
                <mat-label>Nombre Completo</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>

            <mat-form-field class="col-7">
                <mat-label>Area</mat-label>
                <input matInput formControlName="area" class="separacion">
            </mat-form-field>


            <mat-form-field class="col-5">
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="domicilio">
            </mat-form-field>

            <mat-form-field class="col-5">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="ciudad">
            </mat-form-field>

            <mat-form-field class="col-4">
                <mat-label>Estado</mat-label>
                <input matInput #postalCode formControlName="estado">
            </mat-form-field>

            <mat-form-field class="col-4">
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
        </div>

        <button mat-raised-button [disabled]="buttonTel !== true" class="buttonTR" (click)="agregarTel()"
            color="accent">
            <fa-icon [icon]="faPlusSquare"></fa-icon>
            Agregar Teléfono
        </button>

        <div formArrayName="telefonos" class="row">

            <div *ngFor="let mob of telefonos.controls;let i=index" class="col-4">
                <mat-form-field class="col-12">
                    <mat-label>Teléfono {{i + 1}}</mat-label>
                    <input type="tel" matInput [formControlName]="i">
                    <button mat-button *ngIf="i>0" matSuffix mat-icon-button aria-label="Eliminar"
                        (click)="quitarTel(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-form-field>
            </div>

        </div>

        <mat-toolbar class="mat-mod">
            <span>Información del Hospital</span>
        </mat-toolbar>

        <mat-divider style="padding: 0 0 2% 0;"></mat-divider>
        <div formGroupName="infoHosp">
            <mat-form-field class="col-7">
                <mat-label>Hospital</mat-label>
                <input matInput formControlName="nombre">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>

            <mat-form-field class="col-7">
                <mat-label>Domicilio</mat-label>
                <input matInput formControlName="direccion">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>

            <mat-form-field class="col-7">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="ciudad">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>

            <mat-form-field class="col-7">
                <mat-label>Estado</mat-label>
                <input matInput formControlName="estado">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>

            <mat-form-field class="col-4">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>

        </div>

        <button mat-raised-button color="primary" (click)="guardar()" class="buttonGuardar">
            <i class="material-icons">save</i> Guardar
        </button>

    </form>
</div>

<div class='loading' *ngIf="load">
    <mat-spinner></mat-spinner>
</div>