<div class="container">

    <mat-toolbar>

        <mat-toolbar-row>
            <span>{{mensajeBienvenida}}</span>
        </mat-toolbar-row>

        <mat-toolbar-row>
            <span>
                <a mat-flat-button (click)="ruta()" style="background: whitesmoke;">
                    <i class="material-icons">keyboard_backspace</i>
                </a>
            </span>
            <span>Datos Usuario</span>
            <span class="space"></span>
            <span *ngIf="(actRoute != '0' && UserPerm)">
                <button mat-button (click)="eliminar()" *ngIf="rol == 'ROLE_ADMIN'">
                    <i class="material-icons">delete</i>
                    Eliminar
                </button>
            </span>
        </mat-toolbar-row>

    </mat-toolbar>

    <form class="form" novalidate [formGroup]="altauser">
        <div class="row">
            <!--Nombre-->
            <div class="col-5">
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" class="separacion">
                    <mat-error *ngIf="altauser.hasError('required','nombre')">
                        Ingresar nombre
                    </mat-error>
                </mat-form-field>
            </div>

            <!--Usuario-->
            <div class="col-3">
                <mat-form-field>
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="nombreusuario" pattern="[a-zA-Z ]*" maxlength="8">
                    <span matPrefix>{{prefijo}}</span>
                    <mat-error *ngIf="altauser.hasError('required','nombreUsuario')">
                        Ingresar un nombre de usuario
                    </mat-error>
                    <mat-hint *ngIf="actRoute == '0'">El usuario debe ser mínimo de 6 caracteres</mat-hint>
                </mat-form-field>
            </div>

            <!--EMAIL-->
            <div class="col-5">
                <mat-form-field>
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email" [errorStateMatcher]="matcherEmail">
                    <mat-error *ngIf="altauser.hasError('email','email') 
                      && !altauser.hasError('required', 'email')">
                        Por favor, ingrese un correo valido
                    </mat-error>
                    <mat-error *ngIf="altauser.hasError('required','email')">
                        El correo es <strong>obligatorio</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <!--Rol-->
            <div class="col-3">
                <mat-form-field>
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="rol" [(value)]="selected">
                        <mat-option *ngFor="let rol of roles" [value]="rol.value">
                            {{rol.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!--Contraseña-->
            <div class="col-5">
                <mat-form-field *ngIf="ocultar">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="contrasena" type="password">
                    <mat-hint>La contraseña debe ser minimo de 6 caracteres</mat-hint>
                    <!--<mat-error *ngIf="altauser.hasError('required','contrasena')">
                    Ingresar contraseña
                </mat-error>-->
                </mat-form-field>
            </div>

            <!--Contraseña 2-->
            <div class="col-5">
                <mat-form-field *ngIf="ocultar">
                    <mat-label>Repetir contraseña</mat-label>
                    <!--<input matInput formControlName="confirmcontrasena" [errorStateMatcher]="matcher">
                <mat-error *ngIf="altauser.hasError('notSame','confirmcontrasena')">
                    Las contraseñas no coinciden
                </mat-error>-->
                    <input matInput formControlName="confirmcontrasena" type="password">
                    <mat-error *ngIf="altauser.hasError('notSame','confirmcontrasena')">
                        Las contraseñas no coinciden
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <button mat-raised-button color="primary" (click)="guardar()" class="buttonGuardar">
            <i class="material-icons">save</i> Guardar
        </button>
    </form>
</div>
<div class='loading' *ngIf="load">
    <mat-spinner></mat-spinner>
</div>