<div class="container">
    <mat-toolbar class="mat-mod">
        <span>
            <a mat-flat-button (click)="ruta_usuario()" style="background: whitesmoke;">
                <i class="material-icons">keyboard_backspace</i>
            </a>
        </span>
        <span>{{mensajeBienvenida}}</span>
        <span class="space"></span>
        <span *ngIf="actRoute != '0'"> <button mat-button (click)="eliminar()"><i class="material-icons">delete</i>
                Eliminar Usuario</button></span>
    </mat-toolbar>
    <form class="example-container" novalidate [formGroup]="altauser">

        <!--Nombre-->
        <mat-form-field appearance="outline" style="width: 70%;">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" class="separacion">
            <mat-error *ngIf="altauser.hasError('required','nombre')">
                Ingresar nombre
            </mat-error>
        </mat-form-field>

        <!--Usuario-->
        <mat-form-field appearance="outline" style="width: 40%;">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="nombreUsuario">
            <mat-error *ngIf="altauser.hasError('required','nombreUsuario')">
                Ingresar un nombre de usuario
            </mat-error>
            <mat-hint>El usuario debe ser mínimo de 6 caracteres</mat-hint>
        </mat-form-field>

        <!--EMAIL-->
        <mat-form-field appearance="outline" style="width: 40%;">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" [errorStateMatcher]="matcherEmail">
            <mat-error *ngIf="altauser.hasError('email','email') 
                  && !altauser.hasError('required', 'email')">
                Por favor, ingrese un correo valido
            </mat-error>
            <mat-error *ngIf="altauser.hasError('required','email')">
                El correo es <strong>obligatorio</strong>
            </mat-error>
        </mat-form-field>

        <!--Rol-->
        <mat-form-field appearance="outline" style="width: 20%;">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rol" [(value)]="selected">
                <mat-option *ngFor="let rol of roles" [value]="rol.value">
                    {{rol.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!--Contraseña-->
        <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="contrasena" type="password">
            <mat-hint>La contraseña debe ser minimo de 6 caracteres</mat-hint>
            <!--<mat-error *ngIf="altauser.hasError('required','contrasena')">
                Ingresar contraseña
            </mat-error>-->
        </mat-form-field>

        <!--Contraseña 2-->
        <mat-form-field appearance="outline" style="width: 50%;">
            <mat-label>Repetir contraseña</mat-label>
            <!--<input matInput formControlName="confirmcontrasena" [errorStateMatcher]="matcher">
            <mat-error *ngIf="altauser.hasError('notSame','confirmcontrasena')">
                Las contraseñas no coinciden
            </mat-error>-->
            <input matInput formControlName="confirmcontrasena" type="password">
            <mat-error *ngIf="altauser.hasError('notSame','confirmcontrasena')">
                Las contraseñas no coinciden
            </mat-error>
        </mat-form-field>


        <button mat-flat-button (click)="guardar()" color="primary" style="margin: 3em 5em; width: 20%;">Guardar</button>
    </form>
</div>
<div class='loading' *ngIf="load">
    <mat-spinner></mat-spinner>
</div>