<div class="container">
    <mat-card class="card">
        <mat-card-content>
            <form class="example-form">
                <div class="div_imagen">
                    <img class="responsiveimagen" mat-card-image src="https://lablace.com/ZLOGOS/noltik.png" alt="Logo">
                </div>
                <div class="center">
                    <h2>Recuperación de la cuenta</h2>
                </div>
                <form novalidate (ngSubmit)="checkUser()">
                    <mat-form-field class="center " appearance="outline" [formGroup]="confUser">
                        <mat-label>Usuario</mat-label>
                        <input matInput formControlName="user" required>
                    </mat-form-field>

                    <mat-card-actions class="center">
                        <button mat-flat-button type="submit" color="primary">Enviar</button>
                    </mat-card-actions>
                </form>
                <mat-card-actions class="center">
                    <button mat-button color="accent" routerLink="/ingresar" type="submit">Regresar a inicio de sesión</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
    <div class='loading' *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>