<!DOCTYPE HTML>
<html>

<head>
	<title>Noltik</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<div class="fade-in">
				<img class="logo_principal" src="/assets/images/images/logo.png" alt="" />
				<p>Ayudando a optimizar tu laboratorio</p>
			</div>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><span href="#howto" class="active">Acerca de Noltik</span></li>
				<li><a href="#benefits">Beneficios</a></li>
				<li><a href="#costo">Costo</a></li>
				<li><a href="#getstarted">Empezar</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Introduction -->
			<section id="howto" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Bienvenido a Noltik</h2>
						</header>
						<p class="justificar_texto">En Noltik nos enfocamos en la facilidad de administración de tu
							laboratorio, simplificando procesos y desarrollando características tomando en cuenta lo más
							importante para tu laboratorio, tus pacientes.
						</p>
					</div>
					<span class="image"><img src="/assets/images/images/youtube_profile_image.png" alt="" /></span>
				</div>
			</section>

			<!-- First Section -->
			<section id="benefits" class="main special">
				<header class="major">
					<h2>Increíbles beneficios con Noltik</h2>
				</header>
				<ul class="features">
					<li>
						<span class="image"><img class="imagenes_informacion"
								src="/assets/images/images/informacion.png" alt="" /></span>
						<h3>Registro de información</h3>
						<p class="justificar_texto">Toda la información estará a tu disposición en el momento que lo
							consideres necesario, médicos, pacientes, análisis, todo en un solo lugar.</p>
					</li>
					<li>
						<span class="image"><img class="imagen_seguridad" src="/assets/images/images/interfaz.jpg"
								alt="" /></span>
						<h3>Interfaz grafica</h3>
						<p class="justificar_texto">Noltik contiene un diseño pensado para la facilidad de los usuarios
							finales, encontrando los módulos adecuados para poder realizar un trabajo óptimo. </p>
					</li>
					<li>
						<span class="image"><img class="imagen_seguridad" src="/assets/images/images/responsivo.jpg"
								alt="" /></span>
						<h3>Adaptabilidad</h3>
						<p class="justificar_texto">¿Necesitas más características para tu laboratorio? En Noltik puedes
							contar con un sistema personalizado y que se adapte a tus necesidades diarias</p>
					</li>
				</ul>
				<ul class="features">
					<li>
						<span class="image"><img class="imagenes_seguridad" src="/assets/images/images/seguridad.png"
								alt="" /></span>
						<h3>Seguridad</h3>
						<p class="justificar_texto">Comunicación mediante protocolos encriptados garantizando la
							integridad de tus datos.</p>
					</li>
					<li>
						<span class="image"><img class="imagenes" src="/assets/images/images/soporte.png"
								alt="" /></span>
						<h3>Soporte técnico</h3>
						<p class="justificar_texto">Contamos con un equipo disponible las 24 horas del día los 365 dias
							del año.</p>
					</li>
					<li>
						<span class="image"><img class="imagenes_implementar"
								src="/assets/images/images/implementar.jpg" alt="" /></span>
						<h3>Fácil de implementar</h3>
						<p class="justificar_texto">Con Noltik sólo necesitarás registrar tu laboratorio e
							inmediatamente estarás listo para cargar los datos de tus pacientes, médicos, análisis y
							estudios.</p>
					</li>
				</ul>
			</section>

			<!-- Second Section -->
			<section id="costo" class="main special">
				<header class="major">
					<h2>Costo</h2>
					<p class="p_separacion">Prueba de 30 días</p>
					<p>Al finalizar la prueba gratis el costo mensual es de $750 iva Incluido</p>
					<p>A nuestros primeros 100 clientes se les dará un precio especial de $600 al mes iva Incluido</p>
				</header>

			</section>

			<!-- Get Started -->
			<section id="getstarted" class="main special">
				<header class="major">
					<h2>Iniciar con Noltik</h2>
					<p>¿Estás preparado para llevar a tu laboratorio al siguiente nivel con Noltik?<br />
						¡Regístrate hoy mismo!
					</p>
				</header>
				<footer class="major">
					<ul class="actions special">
						<li><a [routerLink]="'/registro'" class="button primary">Regístrate</a></li>
						<li><a [routerLink]="'/ingresar'" class="button">Inicia sesión</a></li>
					</ul>
				</footer>
			</section>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<section>
				<h2>Siguenos en nuestras redes sociales</h2>
				<ul class="icons">
					<li><a href="https://web.facebook.com/Noltik-111463420710763" target="_blank" class="icon brands fa-facebook-f alt">
							<span class="label">Facebook</span></a>
					</li>
					<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
				</ul>
			</section>
			<p class="copyright">&copy; Design: <a href="https://hoppedmx.com">Hopped</a>.</p>
		</footer>

	</div>

	<!-- Scripts >-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.scrollex.min.js"></script>
	<script src="js/jquery.scrolly.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/breakpoints.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>

</body>

</html>