<div class="container">
    <mat-card class="card">
        <mat-card-content>
            <form class="example-form" novalidate [formGroup]="logon">
                <div class="div_imagen">
                    <img class="responsiveimagen" mat-card-image src="https://app.noltik.com/assets/noltik.png"
                        alt="Logo">
                </div>
                <mat-form-field class="center " appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="username" (keyup.enter)="login()">
                </mat-form-field>

                <mat-form-field class="center" appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" formControlName="password" (keyup.enter)="login()">
                </mat-form-field>

                <mat-card-actions class="center">
                    <form novalidate (ngSubmit)="login()" [formGroup]="logon">
                        <button mat-flat-button type="submit" color="primary">Acceder</button>
                    </form>
                </mat-card-actions>

            </form>
            <div class="center">
                ¿Aún no tienes una cuenta?
                <button mat-button color="accent" routerLink="/registrar" type="submit">
                    Regístrate
                </button>
            </div>
            <mat-card-actions class="center" style="margin-bottom: 15px;">
                <!--<form novalidate (ngSubmit)="login()" [formGroup]="logon">-->
                <button mat-button color="accent" routerLink="/recuperar-cuenta" type="submit">¿Olvidaste tu
                    contraseña?</button>
                <!--</form>-->
            </mat-card-actions>
        </mat-card-content>
    </mat-card>
    <div class='loading' *ngIf="loading ">
        <mat-spinner></mat-spinner>
    </div>
</div>