<div class="container">
    <mat-card class="card">
        <mat-card-content>
            <form class="example-form">
                <div class="center_info">
                    Se ha enviado un correo de cambio de contraseña, favor de revisar la bandeja de entrada.
                </div>
                <mat-card-actions class="center">

                    <button mat-flat-button (click)="inicio()" color="primary">Ir a inicio</button>

                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>

</div>