<div class="container">
    <mat-toolbar>
        <mat-toolbar-row>
            <span>Información Laboratorio</span>
            <span class="space"></span>
        </mat-toolbar-row>
    </mat-toolbar>

    <form class="form" novalidate [formGroup]="actLab" autocomplete="off">

        <div class="row">
            <div class="col-5">
                <mat-card class="card">
                    <img mat-card-image [src]="retrievedImage" class="image" alt="Logo Laboratorio" id="logo">
                    <!--<mat-card-actions>
                        <input type="file" accept="image/*" (change)="onFileChanged($event)" multiple
                            [formGroup]="imageFG" style="margin: auto;" id="archivo">
                    </mat-card-actions>-->
                    <mat-card-actions>
                        <label for="file-upload" class="custom-file-upload">
                            <i class="fa fa-cloud-upload"></i> Seleccionar logo
                        </label>
                        <input id="file-upload" name="logo" type="file" accept="image/*"
                            (change)="onFileChanged ($event)" style="margin: auto;">
                        <mat-form-field style="margin: 7px;">
                            <mat-label>Nombre del archivo</mat-label>
                            <input matInput disabled value="{{ fileName }}" >
                        </mat-form-field>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-6">
                <mat-form-field style="width: 100%;">
                    <mat-label>Nombre del Laboratorio</mat-label>
                    <input matInput formControlName="nombre" maxlength="100">
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field style="width: 100%;">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="domicilio" maxlength="100">
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field style="width: 100%;">
                    <mat-label>Ciudad</mat-label>
                    <input matInput formControlName="ciudad" maxlength="100">
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field style="width: 100%;">
                    <mat-label>Estado</mat-label>
                    <input matInput #postalCode formControlName="estado">
                </mat-form-field>
            </div>

            <div class="col-2">
                <mat-form-field style="width: 100%;">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email" maxlength="50">
                </mat-form-field>
            </div>

            <div class="col-2">
                <mat-form-field style="width: 100%;">
                    <mat-label>Teléfono</mat-label>
                    <input matInput formControlName="telefonos" maxlength="200">
                </mat-form-field>
            </div>

            <div formGroupName="infoMembrete">
                <div class="col-2">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Cédula Profesional</mat-label>
                        <input matInput formControlName="cedulaProfesional" maxlength="200">
                    </mat-form-field>
                </div>

                <div class="col-2">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Cédula Especialidad</mat-label>
                        <input matInput formControlName="cedulaEspecialidad">
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field class="col-6">
                <mat-label>Cuerpo Email</mat-label>
                <textarea matInput formControlName="bodyMail" cdkTextareaAutosize
                    placeholder="Contenido del email que será enviado al paciente" maxlength="200">
                </textarea>
            </mat-form-field>

        </div>
        <!--<div class="header">
            <div class="doc">
                <div *ngIf=retrievedImage>
                    <img [src]="retrievedImage" class="image">
                </div>
            </div>
        </div>
        <div class="row">
            <mat-form-field class="col-5">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="col-5">
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="domicilio">
            </mat-form-field>

            <mat-form-field class="col-5">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="ciudad">
            </mat-form-field>

            <mat-form-field class="col-4">
                <mat-label>Estado</mat-label>
                <input matInput #postalCode formControlName="estado">
            </mat-form-field>

            <mat-form-field class="col-4">
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <mat-form-field class="col-4">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefonos">
            </mat-form-field>

            <mat-form-field class="col-4">
                <mat-label>Cuerpo Email</mat-label>
                <textarea matInput formControlName="bodyMail" cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"></textarea>
            </mat-form-field>
            <div formGroupName="infoMembrete">
                <mat-form-field class="col-4">
                    <mat-label>Cédula Profesional</mat-label>
                    <textarea matInput formControlName="cedulaProfesional" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"></textarea>
                </mat-form-field>

                <mat-form-field class="col-4">
                    <mat-label>Cédula Especialidad</mat-label>
                    <textarea matInput formControlName="cedulaEspecialidad" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="btnimg">
            <input type="file" (change)="onFileChanged($event)" multiple [formGroup]="imageFG">
        </div>-->
        <button mat-raised-button color="primary" (click)="guardar()" class="buttonGuardar">
            <i class="material-icons">save</i> Guardar
        </button>
    </form>
</div>

<div class='loading' *ngIf="load">
    <mat-spinner></mat-spinner>
</div>