<div class="container">
    <mat-toolbar class="mat-mod">
        <mat-toolbar-row>
            <span>
                <a mat-flat-button (click)="backListA()" style="background: whitesmoke;">
                    <i class="material-icons">keyboard_backspace</i>
                </a>
                <span>{{analisisString}}</span>
            </span>
            <span class="space"></span>
            <span *ngIf="idAnalisis != '0' && UserPerm">
                <button mat-button (click)="eliminar()"><i class="material-icons">delete</i> Eliminar
                </button>
            </span>
        </mat-toolbar-row>
    </mat-toolbar>

    <form class="form" [formGroup]="altaAnalisis">
        <div class="row">
            <!--Cuando el analisis ya está en la BD, mostramos estos inputs-->
            <mat-form-field *ngIf="idAnalisis != '0'" class="col-7">
                <mat-label>Médico</mat-label>
                <input matInput formControlName="medico">
            </mat-form-field>

            <mat-form-field *ngIf="idAnalisis != '0'" class="col-6">
                <mat-label>Área</mat-label>
                <input matInput formControlName="area" maxlength="100">
            </mat-form-field>

            <!--Cuando el análisis es nuevo, mostramos los inputs donde salen la lista   formControlName="medico"-->
            <mat-form-field *ngIf="idAnalisis == '0'" class="col-7">
                <input type="text" placeholder="Médico" matInput [formControl]="fControl" [matAutocomplete]="auto" />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="(getArea($event))">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.nombre}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field *ngIf="idAnalisis == '0'" class="col-6">
                <mat-label>Área</mat-label>
                <input matInput value="{{areaM}}" formControlName="area" maxlength="100">
            </mat-form-field>

        </div>

        <!--Array de Estudio-->
        <div formArrayName="json">
            <div *ngFor="let a of altaAnalisis.get('json')['controls']; let i=index; let total = index">
                <div [formGroupName]="i">

                    <p *ngIf="(i>0 || btn) && idAnalisis=='0'">
                        {{a.value.analisis}}

                        <!--  <button mat-flat-button color="warn" *ngIf="(i>0 || btn) && idAnalisis=='0'"
                            (click)="eliminarEstudio(i)" class="col-2">
                            <i class="material-icons">delete</i>
                        </button> -->

                        <mat-icon color="warn" (click)="eliminarEstudio(i)">delete</mat-icon>
                        <!--span class="cdk-visually-hidden">
                            Example with a home icon with overlaid badge showing the number 15
                        </span-->
                    </p>

                    <h4>{{a.value.subtitulo}}</h4>

                    <div formArrayName="items">
                        <div *ngFor="let items of a.get('items').controls; let j=index">
                            <div [formGroupName]="j">
                                <div class="row">
                                    <mat-form-field class="col-4">
                                        <mat-label>Prueba</mat-label>
                                        <input matInput formControlName="prueba"  [readonly]="true">
                                    </mat-form-field>

                                    <mat-form-field class="col-2">
                                        <mat-label>Resultados</mat-label>
                                        <input matInput formControlName="resultados">
                                    </mat-form-field>

                                    <mat-form-field class="col-1">
                                        <mat-label>Unidades</mat-label>
                                        <input matInput formControlName="unidades" [readonly]="true" >
                                    </mat-form-field>

                                    <mat-form-field class="col-1">
                                        <mat-label>Referencia</mat-label>
                                        <input matInput formControlName="referencia" [readonly]="true" >
                                    </mat-form-field>

                                    <mat-form-field class="col-4">
                                        <mat-label>Comentario </mat-label>
                                        <input matInput formControlName="comentario" >
                                    </mat-form-field>

                                </div>

                                <mat-divider></mat-divider>

                            </div>
                        </div>
                    </div>

                    <div class="row" style="padding: 10px;">
                        <mat-form-field *ngIf="a.value.subtitulo == this.subtitulofinal" class="col-7">
                            <mat-label>Comentario General</mat-label>
                            <textarea matInput formControlName="comentario" maxlength="200"></textarea>
                        </mat-form-field>

                    </div>

                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <!--Cuando el análisis es nuevo, mostramos el input para buscar los estudios-->
        <div *ngIf="idAnalisis == '0'" class="row">
            <mat-form-field class="col-7">
                <input type="text" placeholder="Estudio" matInput [formControl]="fControlE" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFnE"
                    (optionSelected)="(getEstudio($event))">
                    <mat-option *ngFor="let option of filteredEstudio | async" [value]="option">
                        {{option.nombre}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <!-- <button mat-flat-button color="primary" style="margin-bottom: 1em; margin-left: 2em;" (click)="agregaEstudio()">
                    <fa-icon [icon]="faPlusSquare"></fa-icon>
                    Agregar Estudio
                </button>-->
        </div>

        <button mat-raised-button color="primary" (click)="guardar()" class="buttonGuardar">
            <i class="material-icons">save</i> Guardar
        </button>
    </form>

</div>

<div class='loading' *ngIf="load">
    <mat-spinner></mat-spinner>
</div>