mat-sidenav-content {
  height: fit-content;
}

.toolbar {
  background: #2d4c82;
  color: white;
  position: sticky;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.content {
  padding: 0 8px;
}
