mat-sidenav-content {
  height: auto; //fit-content;
}

.toolbar {
  background: #2d4c82;
  color: white;
  position: sticky;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.content {
  padding: 0 8px;
}

.container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    min-height: 400px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    min-height: 500px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    min-height: 600px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    min-height: 550px;
  }
}

@media (max-width: 575.98px) {
  .container {
    min-height: 750px;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .container {
    min-height: 750px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .container {
    min-height: 750px;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .container {
    min-height: 1100px;
  }
}
