<mat-toolbar class="toolbar" *ngIf="isLoggedIn$ | async as isLoggedIn">
    Laboratorios LACE
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav #drawer mode="side" opened role="navigation" *ngIf="isLoggedIn$ | async as isLoggedIn" style="width: 15%;">
        <mat-nav-list>

            <a mat-list-item routerLink='/pacientes'>
                <fa-icon [icon]="faProcedures" style="margin-right: 6px;"></fa-icon>Pacientes</a>
            <mat-divider></mat-divider>
            
            <a mat-list-item routerLink='/medicos'>
                <fa-icon [icon]="faStethoscope" style="margin-right: 6px;"></fa-icon>Médicos</a>
            <mat-divider></mat-divider>

            <a mat-list-item routerLink='/estudios'>
                <fa-icon [icon]="faFileInvoice" style="margin-right: 6px;"></fa-icon>Estudios</a>
            <mat-divider></mat-divider>

            <a mat-list-item routerLink='/usuarios'>
                <fa-icon [icon]="faUsers" style="margin-right: 6px;"></fa-icon> Usuarios</a>
            <mat-divider></mat-divider>

            <a mat-list-item (click)="logout()">
                <fa-icon [icon]="faSignOutAlt" style="margin-right: 6px;"></fa-icon>Salir</a>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>