.container {
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.toolbar {
    position: fixed;
    background: #2D4C82;
    color: white;
    top: 0;
    left: 0;
    // z-index: 2;
    width: 100%;
}