<div class="container">
    <mat-toolbar>
        <mat-toolbar-row>
            <span>
                <a mat-flat-button (click)="ruta()" style="background: whitesmoke;">
                    <i class="material-icons">keyboard_backspace</i>
                </a>
            </span>
            <span>Datos Paciente</span>
            <span class="space"></span>
            <span *ngIf="actRoute != '0'">
                <button mat-button (click)="eliminar()" *ngIf="rol == 'ROLE_ADMIN'">
                    <i class="material-icons">delete</i>
                    Eliminar
                </button>
            </span>
        </mat-toolbar-row>

    </mat-toolbar>

    <form class="form" novalidate [formGroup]="altapac">
        <div class="row">

            <mat-form-field class="col-7">
                <mat-label>Nombre Completo</mat-label>
                <input matInput formControlName="nombre" class="separacion">
            </mat-form-field>

            <mat-form-field class="col-8">
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="direccion">
            </mat-form-field>

            <mat-form-field class="col-5">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="ciudad">
            </mat-form-field>

            <mat-form-field class="col-5">
                <mat-label>Estado</mat-label>
                <input matInput formControlName="estado">
            </mat-form-field>

            <mat-form-field class="col-3">
                <mat-label>Código Postal</mat-label>
                <input matInput #postalCode formControlName="codigopostal" maxlength="5">
            </mat-form-field>

            <mat-form-field class="col-3">
                <mat-label>Fecha de Nacimiento</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" formControlName="nacimiento" disabled>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="col-3">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexo" [(value)]="selected">
                    <mat-option *ngFor="let sex of gen" [value]="sex.value">
                        {{sex.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-3">
                <mat-label>Tipo de sangre</mat-label>
                <input matInput formControlName="tiposangre">
            </mat-form-field>

            <mat-form-field class="col-5">
                <mat-label>Correo electrónico</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
        </div>


        <button mat-raised-button [disabled]="buttonTel !== true" class="buttonTR" (click)="agregarTel()" color="accent">
            <fa-icon [icon]="faPlusSquare"></fa-icon>
            Agregar Teléfono
        </button>

        <div formArrayName="telefonos" class="row">

            <div *ngFor="let mob of telefonos.controls;let i=index" class="col-4">
                <mat-form-field class="col-12">
                    <mat-label>Teléfono {{i + 1}}</mat-label>
                    <input type="tel" matInput [formControlName]="i">
                    <button mat-button *ngIf="i>0" matSuffix mat-icon-button aria-label="Eliminar" (click)="quitarTel(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-form-field>
                <!--<button mat-mini-fab *ngIf="i>0" (click)="quitarTel(i)" color="warn">
                    <mat-icon>delete</mat-icon>
                </button>-->
            </div>

        </div>

        <div formGroupName="rfcjson" class="row">

            <mat-form-field class="col-5">
                <mat-label>RFC</mat-label>
                <input matInput formControlName="rfc">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>
            <mat-form-field class="col-5">
                <mat-label>Razón Social</mat-label>
                <input matInput formControlName="razon">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>
            <mat-form-field class="col-5">
                <mat-label>Domicilio Fiscal</mat-label>
                <input matInput formControlName="fiscal">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="guardar()" class="buttonGuardar">
            <i class="material-icons">save</i> Guardar
        </button>

    </form>
</div>

<div class='loading' *ngIf="load">
    <mat-spinner></mat-spinner>
</div>